:root
{
    --green:green;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0.5 rem 1.5rem rgba(0,0,0.1);
    
    --border:2rem solid rgba(0,0,0.1);
    --outline: 0.1 rem solid rgba(0,0,0.1);
   
}

*{
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html
{
    font-size: 70.5%;
    overflow-x:hidden;
    scroll-behavior: smooth;
    scroll-padding-top:7rem;
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background: #eee;
}

.header
{
    border:0px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
::selection{
color:#ffffff;
background-color:#40aa54;}
 
/*==Navigation=====================================*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    max-width: 1070px;
    width: 100%;
    margin: auto;

}
.menu{
    display: flex;
}
.menu li a{
    padding: 3px 10px;
    margin: 0px 15px;
    color: #3b3b3b;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all ease 0.3s;
    justify-content: space-between;
    white-space: nowrap;
}
.logo{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #202020;
}
.logo span{
    color: #40aa54;
}
.right-nav{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}
.right-nav a{
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.right-nav .like{
    background-color: #fff0ee;
    color: #ff6c57;
}
.right-nav .cart{
    background-color: #ecf7ee;
    color: #4eb060;
}
.right-nav a span{
    position: absolute;
    top: -7px;
    right: -7px;
    width:20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 500;
}
.right-nav .like span{
    background-color: #ff6c57;
}
.right-nav .cart span{
    background-color: #4eb060;
}
.menu li a:hover,
.menu .active{
    color: #40aa54;
    transition: all ease 0.3s;
}
/*==Search-Banner========================*/
#search-banner{
    max-width: 1250px;
    height: 500px;
    border-radius: 30px;
    background-color:#ecf7ee;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: bottom right;
    padding: 20px;
    display: flex;
    align-items: center;
}
.bg-1{
    position: absolute;
    left: 50px;
    top: 75px;
    width: 1500px;
    height: 900px;
    object-fit: contain;
    object-position: right;
}

.heading 
{
    text-align: center;
    padding: 3rem 0;
    padding-bottom: 3rem;
    font-size: 1.5rem;
    color: var(--black);

}
.heading span
{
    background: var(--green);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path:polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}

/*features*/
.features  .box-container
{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
}

.features .box-container .box
{
  border: 1px solid rgb(12, 12, 12);
  padding: 3rem 2rem;
  background: #fff;
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}
.features .box-container .box:hover
{
    box-shadow:1px 1px 10px 4px var(--green) ;
}
.features .box-container .box img
{
  margin: 1rem 0;
  height: 15rem;
}
.features .box-container .box h3
{
    font-size: 2.5 rem;
    line-height: 1.8;
    color: var(--black);
}
.features .box-container .box p
{
    font-size:1.5rem ;
    line-height: 1.8;
    color: var(--light-color);
    padding-bottom: 1rem 0;
}


/*products*/

.products
{
    border: 0px solid;
    padding: 1rem;
}


.products :first-child
{
   margin-bottom: 2rem;
}

.products .box
{
    border: 1px solid black;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition:.2s linear;
}
.products .box :hover
{
    box-shadow:1px 1px 10px 4px var(--green) ;
}
.products .box img
{
    height: 20rem;
}
.products .box img h1
{
    font-size: 2.5rem;
    color: var(--black);
}
.products .box.price
{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}
.products .box.stars span
{
    font-size: 1.7rem;
    color: orange;
    padding: .5rem 0;
}

.green-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  


 
  .green-button:hover {
    background-color: #45a049; 
  }

.bg-2{
    position: absolute;
    left: 60%;
    transform: translateX(-60%);
    top: 75px;
    width: -5000px;
    height: 500px;
    object-position: center;
    object-fit: contain;
}
.search-banner-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 70px;
    position: relative;
}
.search-banner-text h1{
    font-size: 2rem;
    line-height: 55px;
    color: #202020;
}
.search-banner-text strong{
    color: #4eb060;
    font-size: 1.4rem;
    margin-top: 4px;
}
.search-box{
    background-color: #ffffff;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 0px 5px 0px 20px;
    border-radius: 30px;
}
.search-box i{
    font-size: 1.3rem;
    color: #3b3b3b;
    margin: 0px 10px;
}
.search-box .search-input{
    height: 40px;
    border: none;
    width: 100%;
    padding: 0px 10px;
    outline: none;
}
.search-box .search-btn{
    width:220px;
    height: 40px;
    border-radius: 30px;
    background-color: #4eb060;
    border: none;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
}
.search-box .search-btn:hover{
    background-color: #5ccf71;
    transition: all ease 0.3s;
}
/*==category================================*/
#category
{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
}
.category-heading
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-heading h2
{
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
}
.category-heading span
{
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}
.category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    min-height: 130px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.03);
}
.category-box img{
    height: 130px;
    width: 120px;
    object-fit: contain;
    object-position: center;
    transition: all ease 0.1s;
}
.category-box span{
    color: #393939;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
}
.category-box:hover img{
    transform: scale(1.1);
    transition: all ease 0.1s;
}
/*==category================================*/
#category,
#popular-product,
#popular-bundle-pack,
#partner{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
}
.category-heading,
.product-heading,
.partner-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-heading h2,
.product-heading h3,
.partner-heading h3{
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
}
.category-heading span,
.product-heading span{
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}
.category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    height: 100px;
    width: 150px;
    border: 1px solid rgba(0,0,0,0.03);

}
.category-box img{
    height: 35px;
    width: 50px;
    object-fit: contain;
    object-position: center;
    transition: all ease 0.1s;
}
.category-box span{
    color: #393939;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
}
.category-box:hover img{
    transform: scale(1.1);
    transition: all ease 0.1s;
}

    #search-banner{
        height: 400px;
        background-size: 500px;
    }
    .bg-2{
        width: 1000px;
        height: 500px;
        top: 50px;
    }
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color:#fff
    }
    
  